#blockly-area {
    position: absolute;
    top: 52px;
    left: 0;
    right: 300px;
    bottom: 0;
}

#blockly-div {
    position: absolute;
}

#output-area {
    position: absolute;
    top: 52px;
    right: 0;
    width: 268px;
    bottom: 0;
    margin: 0;
}